.main-card {
  padding: 3px;
  width: 95%;
  height: auto;
  border: solid 0.1mm gray;
  border-radius: 8px;
  box-shadow: black 2px 1px 10px;
  margin: 10px auto;
  text-align: center;
  overflow-wrap: break-word;
}
.img {
  border-radius: 8px;
  margin-top: 10px;
}
.img:hover {
  cursor: pointer;
}
a {
  border: none;
  height: auto;
  width: auto;
  padding: 0;
}
.card-text {
  padding: 10px;
}
.text {
  margin: 10px auto;
  padding: 0 15px;
}
.video {
  width: 95%;
  text-align: center;
  border-radius: 8px;
}
.vote-comments {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.votes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}
.up-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 15px;
}
.down-container {
  width: 17px;
  height: 17px;
}
.down-container:hover {
  cursor: pointer;
}
.up {
  padding: 0;
  width: 17px;
  height: 17px;
}
.up:hover {
  cursor: pointer;
}
.comments {
  width: 15%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commLink {
  width: 17px;
  height: 17px;
  margin: 3px;
}
.commLink:hover {
  cursor: pointer;
}
.post-link:hover {
  cursor: pointer;
}
