:root {
  --buttons: hsl(0, 0%, 75%);
  --textColor: hsl(161, 78%, 93%);
  --containerBackground: hsl(184, 89%, 4%);
  --bodyBackground: hsl(193, 78%, 7%);
  --buttonText: hsl(285, 100%, 6%);
}
#login {
  text-align: center;
}
#login-button {
  background-image: linear-gradient(var(--buttons), hsl(0, 0%, 42%));
  color: var(--buttonText);
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 4px;
  box-shadow: var(--buttons) 1px 1px 0px;
  border: solid gray 0.1mm;
  border-radius: 5px;
}
#login-button:hover {
  cursor: pointer;
  background-image: linear-gradient(var(--buttons), hsl(0, 0%, 24%));
  color: var(--buttonText);
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 4px;
  box-shadow: var(--buttons) 1px 1px 0px;
  border: solid gray 0.1mm;
  border-radius: 5px;
}
#login-button:active {
  cursor: pointer;
  background-image: linear-gradient(hsl(0, 0%, 24%), var(--buttons));
  color: var(--buttonText);
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 1px;
  border: solid gray 0.1mm;
  border-radius: 5px;
}
